@import '_variables.scss';

.collage {
    .collage__header {
        display: flex;
        margin-bottom: 30px;

        > * {
            white-space: nowrap;
        }

        a {
            margin-left: 5px;
            color: $light-blue-color;
            font-weight: bold;
        }

        hr {
            border: 1px solid $secondary-color;
            justify-content: stretch;
            position: relative;
            width: 100%;
            margin-bottom: 10px;
            opacity: .5;
        }

        .collage__title {
            margin-right: 5px;
        }
    }

    .collage__container {
        display: flex;
        flex-flow: column wrap;
        /*height still is needed to push, but column forcing thanks to tobiasalhin*/
        /*https://tobiasahlin.com/blog/masonry-with-css/*/
        height: 2500px;

        &::before,
        &::after {
            content: "";
            flex-basis: 100%;
            width: 0;
            order: 2;
        }

        .card.card--collage {
            width: 32%;
            margin-bottom: 15px;

            &:nth-child(3n+1) {
                order: 1;
            }

            &:nth-child(3n+2) {
                order: 2;
            }

            &:nth-child(3n) {
                order: 3;
            }

            &.col-1 {
                background: red;
            }

            &.col-2 {
                background: green;
            }

            &.col-3 {
                background: blue;
            }
        }
    }
}
